.breadcrumb-item+.breadcrumb-item::before {
    content: none;
}

.container-fluid {
    display: none;
}
.container-fluid.open {
    display: block;
}
.content_bot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content_bot .paging {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 1;
}
.content_bot .paging .btn_page {
    background-color: white;
    border: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    color: #1761fd;
    font-size: 0.8rem;
    display: block;
    position: relative;
    margin-right: 2px;
}
.content_bot .paging .btn_page_middle {
    color: rgb(23, 97, 253);
    font-size: 1.2rem;
    margin-left: 8px;
    margin-right: 8px;
}
.paging .btn_page span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}
.content_bot .paging .btn_page:hover {
    background-color: #1761fd;
    color: white;
}
.paging .btn_page.active {
    background-color: rgb(23, 97, 253);
    color: white;
}
.paging .btn_page.active:hover {
    background-color: rgb(23, 97, 253);
}

.input_content,
.orders_content {
   color: black;
   border: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0 ,0.5);
   z-index: 1002;
   display: none;
 }
 .input_content.open,
 .orders_content.open {
   display: block;
 }
 .input_content .input_content_grid {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   padding: 80px;
   position: absolute;
   background-color: white;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

 }
 .input_content_grid i,
 .orders_content i {
   font-size: 36px;
   color: black;
   position: absolute;
   top: 10%;
   right: 3%;
   cursor: pointer;
 }
 .input_content h2 {
   text-align: center;
   color: black;
   margin: 32px 0px;
   flex-basis: 100%;
 }
 .input_content .input_content_grid {
   display: flex;
   flex-wrap: wrap;
 }
 .input_content .input_content_grid > div {
   flex-basis: 100%;
   display: flex;
   margin: 8px 0px;
 }
 .input_content .input_content_grid > div > label {
   flex-basis: 20%;
   padding: 8px 0px;
   font-size: 14px;
 }
 .input_content .input_content_grid > div > input {
   width: 100%;
   height: 36px;
   font-size: 1rem;
   padding: 0.4rem 0.6rem;
   background-color: var(--color-border);
   border: 1px solid #343a4a;
   border-radius: .2rem;
 }
 .input_content div input:focus {
   outline: none;
 }
 .input_content .input_content_grid div {
   padding: 6px 0px;
   width: 100%;
 }
 .input_content .input_content_grid div label {
   margin-right: 32px;
 }
 .input_content div input[type=file] {
   cursor: pointer;
   margin-left: 8px;
   border: none;
 }
 .input_content .input_content_grid button {
   background-color: #00acc1;
   border-color: #00acc1;
   color: var(--color-title);
   font-weight: bold;
   padding: 10px 24px;
   border: none;
   cursor: pointer;
   transition: all 0.2s;
   margin: 36px 0px 12px 0px;
   border-radius: 2px;
 }
 .input_content .input_content_grid button:focus {
   outline: none;
   box-shadow: 0 0 0 0.15rem rgb(38 184 202 / 50%);
 }
 .input_content .input_content_grid button:not(:hover) {
   box-shadow: none;
 }
 .input_content .input_content_grid button:hover {
   color: #fff;
   background-color: #008a9b;
   border-color: #007f8e;
 }
 .input_content .input_content_grid .submit {
   display: block;
   width: 100%;
   text-align: center;
 }

.container-fluid.product .element-product {
    position: relative;
}
.element-product .dropdown-menu.product {
    position: absolute;
    right: 0;
}


.orders_content .orders_content_grid {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.orders_content_grid h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 16px;
}
.order_product, 
.order_product th, 
.order_product td {
    border: 1px solid black;
    text-align: center;
    padding: 4px 12px;
}
.order_product tbody span {
    display: flex;
    justify-content: center;
}
.order_product img {
    max-height: 90px;
    max-width: 90px;
    flex-basis: 50%;
}
.order_product tr td:first-child {
    max-width: 300px;
}
.order_product tbody span span {
    display: flex;
    flex-direction: column;
}
